<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Matches have been found for your search.
    Click <a href="@user.query">here</a> to check it out!
  </p>

</body>
</html>