<%= form_tag("/search", method: "get") do %>

  <p>
    Animal Type : <%= select_tag "animal_type", options_for_select(["Dog", "Cat", "Other"]) %>
    City : <%= select_tag "city", options_for_select(["Toronto", "Scarborough"]) %>
    <%= submit_tag("Search") %>
  </p>
<% end %>

