<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>
<nav> Nav Bar</nav>

<h1> SEARCHING TIME </h1>

<%= render 'search/location_species_form' %>


<p>Found <b><%= @pets.count %></b> matches.</p>
<% @pets.each do |pet| %>

<p><%= pet.name %>:
<img src=<%= pet.photo %>/></p>

<% end %>



</body>
</html>
