<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>

<%= image_tag "adoption.jpg", class: "title-image" %>

<%= render 'layouts/top_nav' %>

<h1 class="title"> Adoption </h1>

<div class="search-parameters">
  <%= render 'search/initial_form' %>
</div>

<div id="all-pets-container">
<%= render 'search/pets' %>
</div>

</body>
</html>
