<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>
<nav> Nav Bar</nav>

<h1> SEARCHING TIME </h1>

<%= render 'search/location_species_form' %>

<% @pets.each do |pet| %>

<p><%= pet.city %></p>

<% end %>


</body>
</html>
