<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>
<nav> Nav Bar</nav>

<h1> SEARCHING TIME </h1>

<%= render 'search/initial_form' %>

<%= render 'search/filtered_form' %>

<% @pets.each do |pet| %>

<p><%= pet.name %></p>

<% end %>



</body>
</html>
