<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>

 <%= render 'layouts/top_nav' %>


 <h3>All of your favourite pets in one place.</h3>

 <div id="all-pets-container">
  <% @liked_pets.each do |pet| %>
  <div class="card" >
    <%= link_to pet do %>
    <img src=<%= pet.photo %> width="250" height="250"/><br/>
    <% end %>
    <div class="pet-name">
        <%= (pet.name).gsub("&amp;", "&") %>
    </div>
  </div>
     <% end %>


</body>
</html>