
<div class="registration">

<h1>Register for an account!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Email: <%= f.email_field :email, :required => true %><br>
  Password: <%= f.password_field :password, :required => true %>
  <%= f.submit "Submit" %>

<% end %>

<div>
  Already registered? Click <a href="/login">here</a> to log in.
</div>

</div>