<%= video_tag "background-video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
<section id="home-section" class="container-fluid fade-in">
  <div class="title-home">
      <p>PAWSIBILITIES<p>
  </div>

  <hr>

  <div class="nav-home btn-link">
    <a href="/search">Adopt a Pet!</a>
    <a href="/match">Pet Matcher</a>
  </div>
</section>

