<section>
  <div class="title-home">
      <strong>Pawsibilities</strong>
  </div>
  <!-- <div>
    <button class="button">Adopt a pet here</button>
  </div>

  <div>
    <button class="button">Pet Matcher, find your perfect pet!</button>
  </div> -->
</section>

