@import "bootstrap";
@import "./search";
@import "./home";
@import "./match";
@import "./pet";
@import "./result";
@import "./users";
@import "./sessions";
@import "./shelters";


body {
  text-align: center;
  font-family: 'Muli', serif;
  background-color: white;
}

nav {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 7%;

  button {
    border: none !important;
    height: 100%;
    float: right;

    .fa-chevron-circle-down {
      font-size: 125%;
    }
  }

  nav a:hover {
    color: #008000;
  }

  .navbar-brand {
    float: left;
    font-size: 30px;
    color: #008000;
    margin-top: -0.5%;
  }

  div.navbar-collapse {
    float: right;

    a.nav-link {
      /*padding: 0rem 3rem 1rem 1rem;
      position: relative;
      top: 1.5rem;*/
      color: #d39e00 !important;
      text-align: right;
/*      float: right;*/
     /* margin-top: -1%;*/
    }

    span.nav-link {
      color: #d39e00 !important;
      text-align: right;

      a.user-options {
        color: #d39e00;
      }
    }
  }
}

#app {
  padding-top: 80px;
}