@import "bootstrap";
@import "./search";
@import "./home";


body {
  text-align: center;
  font-family: 'Nunito', serif;
  /*background-image: image-url("home-background.jpeg");*/
  background-color: lightblue;
}

nav {
  position: fixed;
  background: #117a8b;
  width: 100%;
  z-index: 100;
  bottom: 600px;
}

#app {
  padding-top: 80px;
}

.navbar-brand {
  float: left;
  padding-top: 1rem;
  font-size: 30px;
  color: #d39e00;
}

.nav-options {
  padding: 0rem 4rem 1rem 1rem;
  position: relative;
  top: 1.5rem;
  color: #d39e00;
}

