body.quiz-body {
  background-color: white;
}

h3.subtitle {
  color: white;
  font-size: 2rem;
  font-family: "Helvetica";
  font-style: italic;
  font-weight: 400;
  margin-top: 35%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

button#pet-matcher-start {
  position: relative;
  margin-top: 40%;
}

div#quiz-board{
  width: 80%;
  background-color: white;
  margin: 10%;
  padding: 1rem;
  margin-top: 15%;

  article.section-wrapper{
    border: 1px solid #008000;
    border-radius: 1rem;
    background-color: white;
    padding: 3% 5% 5%;
    margin: 1%;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,1);
    box-shadow: 0 4px 6px rgba(0,0,0,1);

    button.next, input#search{
      background-color: white;
      position: absolute;
      right: 14rem;
    }

    button.prev {
      background-color: white;
      position: absolute;
      left: 14rem;
    }
  }



  div.question {
    text-align: left;
    margin: 1rem 1rem 2rem;

    p {
      margin-top: 0;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bold;
      color: #008000;
    }

    label {
      font-size: 1.15rem;
      margin-right: 1.5rem;
      color: #008000;
    }
  }

}

input#search {
  border: 2px solid #008000;
  color: #008000;
}
