html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

.pet-grid {
  display: grid;
  grid-template-columns: 0.15fr 30px minmax(250px, 1fr) minmax(250px, 1fr) 30px 0.15fr;
  grid-template-rows: auto;
  grid-template-areas:
    '. . like . . .'
    '. . img shlter . .'
    '. . info shlter . .'
    '. desc desc desc . .'
    '. e e e e .';
  }

  .pet-like {
    grid-area: like;
  }

  .pet-profile {
    grid-area: img;
    place-self: center;
    background: #f8f8f8;
    margin-top: -1rem;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    border: 1px hidden;
    overflow: hidden;
    h1 {
      font-size: 3.2rem;
      font-family: "Permanent Marker";
    }
    img {
      max-height: 400px;
      width: auto;
    }
  }

  .pet-info {
    grid-area: info;
    align-self: start;
    justify-self: center;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 3%;
    text-align: left;
    z-index: 0;
    overflow: hidden;
    width: auto;
    font-size: 1.5rem;
  }

  .pet-description {
    grid-area: desc;
    align-self: start;
    z-index: 0;
    position: relative;
    margin: 1rem;
    text-align: left;
    line-height: 2rem;
    width: 100%;
    .pet-dc {
      border: 1px solid #97f697;
      border-radius: 10px;
      padding: 1% 2% 2% 2%;
    }
    h2 {
      margin-left: 1rem;
    }
  }

  .shelter-info {
    grid-area: shlter;
    place-self: center;
    border: 1px solid #97f697;
    border-radius: 10px;
    background: white;
    padding: 2%;
    z-index: 0;
    position: relative;
    margin: 1rem 2rem 1rem 1rem;
    .shelter-icon {
      width: 50px;
      height: 50px;
    }
    hr {
      border-color: #97f697;
      margin: 5px;
    }
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
    .contact-submit {
      margin-top: 0.3rem;
    }
  }

/* part of shelter info */
.pet-map {
  padding: 1rem 0rem 0.8rem 0rem;
}

/* part of shelter info */
.contact-form {
  text-align: left;
  padding: 10px;
}

.breed-info {
  grid-area: e;

  background: white;
  margin: 10px;
  text-align: left;
  line-height: 2rem;
  .breed-dc {
    border: 1px solid #97f697;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
  }
  h2 {
    margin-left: 1rem;
  }
}

i.fa-heart {
  margin-top: 1rem;
  font-size: 3rem;
}

#to_unlike {
  color:  #ff5b84;
}

#to_like {
  color: grey;
}