// Place all the styles related to the pet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pet-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.pet-profile {
  grid-column: 2;
  grid-row: 1;
  margin: 10px;
  h1 {
    font-size: 50px;
  }
}

.pet-info {
  grid-column: 1;
  grid-row: 1;
  border: 1px hidden black;
  border-radius: 10px;
  background: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 200px;
  margin: 10px;
}

.pet-description {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
  border: 1px hidden black;
  border-radius: 10px;
  background: white;
  padding: 2%;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  z-index: 0;
  position: relative;
  margin: 10px;
  text-align: left;
}

.shelter-info {
  grid-column: 3;
  grid-row: 1;
  border: 1px hidden black;
  border-radius: 10px;
  background: white;
  padding: 2%;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  z-index: 0;
  position: relative;
  width: 500px;
  margin: 10px;
  .shelter-style {
    width: 50px;
    height: 50px;
  }
}

.pet-map {
}

.breed-info {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 4;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  border: 1px hidden black;
  border-radius: 10px;
  background: white;
  margin: 10px;
  padding: 2%;
  text-align: left;
}