// Place all the styles related to the pet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.pet-grid {
  display: grid;
  grid-template-columns: 40rem 20rem;
  grid-template-rows: auto auto auto auto;
  }*/

  .container {
    padding: 0px;
  }

  .pet-profile {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    place-self: end;
    margin: 10px 10px 10px 0px;
    background: #f8f8f8;
    margin: 0 35px 30px;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    border: 1px hidden;
    overflow: hidden;
    max-width: 500px;
    margin-left: 125px;
    h1 {
      font-size: 40px;
      font-family: "Permanent Marker";
    }
    img {
      max-height: 400px;
      width: auto;
      min-width: 300px;
    }
  }

  .pet-info {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    place-self: center;
    border-radius: 10px;
    padding: 3%;
    text-align: left;
    z-index: 0;
    overflow: hidden;
    width: 250px;
    font-size: 30px;
  }

  .pet-description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    border: 1px solid #97f697;
    border-radius: 10px;
    background: white;
    padding: 2%;
    z-index: 0;
    position: relative;
    margin: 10px;
    text-align: left;
    line-height: 2rem;
  }

  .shelter-info {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    place-self: center;
    border: 1px solid #97f697;
    border-radius: 10px;
    background: white;
    padding: 2%;
    z-index: 0;
    position: relative;
    margin: 10px;
    max-width: 300px;
    .shelter-style {
      width: 50px;
      height: 50px;
    }
    hr {
      border-color: #97f697;
      margin: 5px;
    }
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
    .contact-submit {
      margin-top: 0.3rem;
    }
  }



.pet-map {
  min-width: 270px;
}


.contact-form {
  text-align: left;
  padding: 10px;
}

.breed-info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
  border: 1px solid #97f697;
  border-radius: 10px;
  background: white;
  margin: 10px;
  padding: 2%;
  text-align: left;
  line-height: 2rem;
}

i.fa-heart {
  position: absolute;
  right: 38%;
  margin-top: 1rem;
  font-size: 3rem;
}

#to_unlike {
  color:  #ffb3c6;
}

#to_like {
  color: grey;

}