/*TITLE IMAGE AND TEXT*/

.title-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h1.title {
  color: white;
  font-size: 7rem;
  font-weight: 500;
  margin-top: 25%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

/*SEARCH PARAMETERS*/

.search-parameters {
  background-color: white;
  margin-top: 38%;
  margin-bottom: 5%;
  z-index: 2;
  position: sticky;
  top: 6%;

  .dropdown {
    display: inline-grid;
    margin-left: 1.25%;
    margin-right: 1.25%;
    margin-bottom: 1%;


    .dropdown-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
      white-space: nowrap;
      min-width: 100%;
    }
  }

  input.dropdown {
    margin-top: 1%;
  }
}

.btn.btn-light {
  background-color: white;
  border-color: black;
}

/*Pet photo SCSS is inherited from './result.scss'*/
