/*TITLE IMAGE AND TEXT*/

.title-image {
  position: absolute;
  top: 0;
  left: 0;
}

h1.title {
  color: white;
  font-size: 7rem;
  font-family: "Helvetica";
  font-weight: 500;
  margin-top: 25%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

/*SEARCH PARAMETERS*/

.search-parameters {
  position: sticky;
  top: 9%;
  background-color: cyan;
  margin-top: 40%;
  z-index: 2;

  .dropdown {
    display: inline-grid;
    margin-left: 1.25%;
    margin-right: 1.25%;

    .dropdown-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
      white-space: nowrap;
      min-width: 100%;
    }
  }
}

.btn.btn-light {
  background-color: cyan;
  border-color: black;
}


/*PET PHOTOS*/

#all-pets-container {
  text-align: center;

  .card {
    background: white;
    display: inline-block;
    margin: 0 35px 30px;
    padding: 1% 1% 5%;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    overflow: hidden;
    min-width: 280px;
}

    img {
      object-fit: cover;
    }
  }

  .card::after {
    content: attr(title);
    z-index: 1;
    position: inherit;
    top: 1.75rem;
  }

  .card:hover {
    img {
      height: 250;
      width: auto;
    }
  }

