// Place all the styles related to the shelters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    'a a a'
    'b c c';
}

.profile-information {
  grid-area: a;
  text-align: left;
  justify-self: center;
  margin: 1rem;
  font-size: 1.6vw;
  display: inline-flex;

  a {
    color: #D29D23;
  }
}

.user-pets {
  grid-area: b;
  margin: 1rem;

  h2{
    margin-bottom: 0.7rem;
  }

  p {
    font-size: 1.3rem;
    font-style: italic;
  }

  .owned-pets {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    padding: 2vw 2vw 0 2vw;
    height: 65vh;
    overflow: scroll;

    .card {
    background: white;
    display: inline-block;
    margin: 0 35px 30px;
    padding: 2% 1% 4%;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.5);
    box-shadow: 0 4px 6px rgba(0,0,0,.5);
    overflow: hidden;
    min-width: 220px;

      img {
        object-fit: cover;
      }
    }

    .card::after {
      content: attr(title);
      z-index: 1;
      position: inherit;
      top: 0.5rem;
      font-family: "Permanent Marker";
      font-size: 25px;
      color: black;
    }
  }
}

.form-area {
  grid-area: c;
  margin: 1rem;

  h2 {
    margin-bottom: 0.7rem;
  }

  .pet-form {
    border: 2px solid green;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.9vw;
    height: 65vh;

    input {
      margin-top: 0.15rem;
      border: none;
      /*overflow: auto;*/
      outline: none;
      border-bottom: 1.5px solid #008000;
    }

    .submit-pet {
      border: 1px solid #008000;
    }

    #too-many {
      margin-top: 2vw;
    }

    .info-group {
      margin-top: 5vw;

      .info {
        margin: 1.5vw;

        p {
          margin: 0.5vh;
        }
      }

      input#photo-upload {
        margin-left: 14vw;
        border: none;
        font-size: 1rem;
      }

      button.next-page, .submit-pet {
        position: absolute;
        right: 6vw;
      }

      button.prev-page {
        position: absolute;
        left: 42vw;
      }
    }

    .large-info-group {
      margin-top: 2vw;
    }
  }
}

/*----------------- Edit Page -----------------*/
.edit-profile {
   width: 500px;
   height: 500px;
   margin: -200px auto auto -250px;
   position: absolute;
   left: 50%;
   top: 50%;

   form {
    color: #008000;
    font-size: 1.5rem;
    text-align: left;
    width: 350px;
    margin: auto;

    form label {
      margin-left: 4rem;
    }

    .form-input {
    display: block;
    border: 0px;
    border-bottom: 2px solid #008000;
    border-radius: 0;
    width: 100%;
    }

    .form-input:focus {
      outline: none;
    }

    .form-submit input {
      border: 2px solid #008000;
      background-color: white;
      border-radius: 10px;
      padding: 0.5rem;
      color: #008000;
      margin: 10% 0% 15% 23%;
    }
  }

  a.embedded-link {
    color: #008000;
  }

  img.login-img {
    height: 10rem;
    display: block;
    margin: auto;
  }
}