<nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pawsibilities</a>
    </div>
    <ul class="">
      <a class="nav-options" href="/">Home</a>
      <a class="nav-options" href="/search">Adopt a pet!</a>
      <a class="nav-options" href="/match">Match Pet</a>
    </ul>
  </div>
</nav>