<nav class="navbar-expand-lg navbar-light" id="important-nav">

  <a class="navbar-brand" href="/">Pawsibilities</a>

  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-chevron-circle-down"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/search">Adoption</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/match">Pet Matcher</a>
      </li>

      <% if current_user %>

      <li class="nav-item">
        <span class="nav-link">
          <%= link_to "Favourites", user_likes_path(current_user), { :class=>"user-options" }%>
        </span>
      </li>

      <li class="nav-item">
        <span class="nav-link">Signed in as <%= current_user.email %> |
          <a class ="user-options" href="/logout">Logout</a>
        </span>
      </li>

      <% else %>

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      <li class="nav-item dropdown">
        <button class="nav-link" id="registration-dropdown" type="button" aria-controls="dropdown-menu" aria-expanded="false">
          Registration
          <i class="fas fa-chevron-circle-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/signup/">Pet Seeker</a>
          <a class="dropdown-item" href="/signup/pet_owners">Pet Owner</a>
        </div>
      </li>

      <% end %>

    </ul>

  </div>

</nav>