<nav>

  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="/">Pawsibilities</a>

    </div>

    <div class="nav-links">
      <a class="nav-options" href="/search">Adoption</a>
      <a class="nav-options" href="/match">Pet Matcher</a>

      <% if current_user %>

      <span class="nav-options">
        <%= link_to "Favourites", user_likes_path(current_user), { :class=>"user-options" }%>
      </span>

      <span class="nav-options">Signed in as <%= current_user.email %> |
        <a class ="user-options" href="/logout">Logout</a>
      </span>

      <% else %>

      <a class="nav-options" href="/login">Login</a>
      <a class="nav-options" href="/signup">Registration</a>

      <% end %>

      <a class="nav-options icon" href="javascript:void(0);" onclick="myFunction()">
        <i class="fas fa-chevron-circle-down"></i>
      </a>

    </div>

  </div>

</nav>